<div class="navbar navbar-default col-md-10 col-md-offset-1">
  <a class="navbar-brand" href="">Open Tree</a>
  <div class=''>
    <div class="navbar-form pull-right">
      <a ng-href="#/tree"><button type="button" class="btn btn-default" >Tree</button></a>
      <a ng-href="#/login"><button type="button" class="btn btn-default" >Login with Github</button></a>
      <button type="button" class="btn btn-default" ng-click='logout()'>Logout</button>
    </div>
  </div>
</div>

<!-- <ul class="dark menu-bar">
  <li><a ng-href="#/">Open Tree</a></li>
  <li><a ng-href="#/tree">Tree</a></li>
  <li><a ng-href="#/login">Login with Github</a></li>
  <li><a ng-click="logout()">Logout</a></li>
</ul> -->


<!-- <logout-button></logout-button>
 -->
<!-- <logout-button logout='logout'></logout-button> -->
