
body {
  margin-bottom: 60px;
}

.center {
  text-align: center;
}

p {
  font-size: 1.15em;
}

span {
  font-size: 1.4em;
}

.panel-heading {
  font-weight: bold;
  color: black;
  background-color: #f5f5f5;
  border-color: #dddddd;

  &:hover {
    background-color: #f0f0f0;
  }
}

a {
  color: black;
  cursor: pointer;

  &:link, &:visited, &:hover{
    text-decoration: none;
  }
  &:visited,&:hover{
    color: black;
    opacity: 0.5;
  }
  // .dropdown-toggle {
  //   color: black;
  //   opacity: 1;
  // }
}

.dropdown {
  border: 1px solid black;
  padding: 10px;
  width: 10em;

  .open {
    background-color: #eeeeee;
    opacity: none;
  }
}

.panel-body {
  p {
    font-style: italic;
  }
}

.container {
  margin: 0;
}


ul {
  list-style-type: none;
}

li {
  display: inline;
}

.stats {
  span:nth-child(0n+2) {
    font-variant: small-caps;
  }
}

// *** D3 *** //

.tree {
  width: 900px;
  height: 800px;
  overflow: scroll;
}

line {
  stroke: #000;
  stroke-width: 1.5px;
}

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: black;
  stroke-width: 2px;
}

.node text {
  font: 13.5px sans-serif;
  font-variant: small-caps;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 3px;
}

