@import "../../vendor/bower_components/foundation-apps/scss/foundation";

// @import "../../vendor/bower_components/foundation-sites/scss/foundation";

// @import "../vendor/bourbon/bourbon";
// @import "../vendor/neat/neat";

$margin-size: 7rem;

.top-margin {
  margin-top: $margin-size;
}

label {
  font-weight: bold;
}
