<div class="container">
  <div class="row">
    <div class="col-sm-10 col-md-3">
      <div class="panel panel-default">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion" target="_self" href="##repo">
            <div class="panel-heading">Repo</div>
          </a>
        <div id="repo" class="panel-collapse collapse in">
          <div class="panel-body">
            <p>Search all GitHub repos by user:</p>
            <form ng-submit="getRepo()">
              <div class="form-group">
                <label for="item">Repo Owner</label>
                <input type="text" class="form-control" ng-model="repo.owner" id="username" placeholder="Enter GitHub username..."  required>
              </div>
              <div class="form-group">
                <label for="type">Repo Name</label>
                <input type="text" class="form-control" ng-model="repo.name" id="repo" placeholder="Enter GitHub repo name..." required>
              </div>
              <div class="form-group">
                <button class="btn btn-default">Submit</button>
              </div>
            </form>
          </div>
        </div>
        <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion" target="_self" href="##recent">
          <div class="panel-heading">Recent</div>
        </a>
        <div id="recent" class="panel-collapse collapse">
          <div class="panel-body">
            <p>Display of recent repos you have searched for:</p>
            <div ng-repeat="recent in recentSearches track by $index">
              <a ng-click="getRepo()">{{recent.owner}} - {{recent.repo}}</a>
            </div>
          </div>
        </div>
        <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion" target="_self" href="##search">
          <div class="panel-heading">Search</div>
        </a>
        <div id="search" class="panel-collapse collapse">
          <div class="panel-body">
          <p>Search from your repos:</p>
            <form role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter a repo name...">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div>
        </div>
      </div>
      <div class="center">
        <button ng-click="expandAll()" class="btn btn-default">Expand</button>
        <button ng-click="collapseAll()"class="btn btn-default">Collapse</button>
        <button class="btn btn-default">Layer</button>
      </div>
    </div>

    <div class="col-sm-10 col-md-9">
      <div class="stats row">
        <div class="col-sm-4 stats well center">
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
          <span>dominant language:</span><br>
          <span id="language">{{language}}</span>&nbsp;&nbsp;&nbsp;
        </div>
        <div class="col-sm-4 stats well center">
          <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
          <span>files:</span><br>
          <span id="files">{{size}}</span>&nbsp;&nbsp;&nbsp;
        </div>
        <div class="col-sm-4 stats well center">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span>repo stars:</span><br>
          <span id="stars">{{stars}}</span>&nbsp;&nbsp;&nbsp;
        </div><br>
        <h2><a target="_blank" ng-href={{url}}>{{name}}</a></h2>
      </div>
      <div id="repo-tree" class="tree"></div>
    </div>
  </div>
</div>





