body {
  margin-bottom: 60px; }

.center {
  text-align: center; }

.panel-heading {
  font-weight: bold;
  color: black;
  background-color: #f5f5f5;
  border-color: #dddddd; }
  .panel-heading:hover {
    background-color: #f0f0f0; }

a {
  color: black; }
  a:link, a:visited, a:hover {
    text-decoration: none; }
  a:visited, a:hover {
    color: black;
    opacity: 0.5; }

.panel-body p {
  font-style: italic; }

.container {
  margin: 0; }

ul {
  list-style-type: none; }

li {
  display: inline; }

.stats span:nth-child(0n+2) {
  font-variant: small-caps; }

.tree {
  width: 900px;
  height: 800px;
  overflow: scroll; }

line {
  stroke: #000;
  stroke-width: 1.5px; }

.node {
  cursor: pointer; }

.node circle {
  fill: #fff;
  stroke: black;
  stroke-width: 2px; }

.node text {
  font: 12.5px sans-serif;
  font-variant: small-caps; }

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 3px; }
