body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #111;
}

/*-------------------*/
/*   nav styles     */
/*-----------------*/

div.navbar {
	margin-bottom: 8rem;
}

/*-------------------*/
/*    form styles   */
/*-----------------*/

input.form-control {
	background-color: #222;
	border-color: #333;
}

.btn  {
	background-color: rgba(100,100,100, .5);
	color: #777;
}


/*-------------------*/
/*  alert styles   */
/*-----------------*/
.space-holder {
	min-height: 8rem;
}

.alert {
	background-color: rgba(100,100,100, .5);
	color: #777;
	border-width: .2rem;
}


/*-------------------*/
/*  output styles   */
/*-----------------*/

.table.table {
	background-color: #222;
	border-radius: 0.5rem;
	color: #777;
}

.table>tbody>tr>td {
	vertical-align: middle;
	width: 45%;
	border-color: #333;
}

.table>tbody>tr>th {
	border: none;
	min-width: 10rem;
}


tr.table {
}

.output .btn {
	width: 8rem;
}

.output button.confirm {
	width: 45%;
}


