<html ng-app='myApp' ng-controller='myController'>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles/css/main.css">
  </head>
  <body>

    <!-- nav bar -->
    <div>
      <div nav-template ng-model="action"></div>
    </div>

    <div ng-view></div>

    <script type="text/javascript" src="./vendor/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="./vendor/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="./vendor/bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="./vendor/bower_components/angular-animate/angular-animate.min.js"></script>
    <!--<script type="text/javascript" src="./vendor/bower_components/foundation-sites/dist/foundation.min.js"></script>-->
    <script type="text/javascript" src="./vendor/bower_components/foundation-apps/js/angular/foundation.js"></script>
    <script type="text/javascript" src="./vendor/bower_components/satellizer/satellizer.min.js"></script>
    <script type="text/javascript" src="../app/app.js"></script>
    <script type="text/javascript" src="../app/routes.js"></script>
    <script type="text/javascript" src="../app/factories.js"></script>
    <script type="text/javascript" src="../app/controllers.js"></script>
    <script type="text/javascript" src="../app/directives.js"></script>
    <script type="text/javascript" src="../form/form-directive.js"></script>
    <script type="text/javascript" src="../nav/nav-directive.js"></script>
    <script type="text/javascript" src="../output/output-directive.js"></script>
    <script type="text/javascript" src="../alert/alert-factory.js"></script>
    <script type="text/javascript" src="../alert/alert-directive.js"></script>
    <script type="text/javascript" src="../logout-button/logout-button-directive.js"></script>
    <script type="text/javascript" src="../auth/auth-factory.js"></script>
    <script type="text/javascript" src="../auth/auth-controllers.js"></script>
    <script type="text/javascript" src="../tree/tree-directive.js"></script>
    <script type="text/javascript" src="../tree/repo-factory.js"></script>
  </body>
</html>
